@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px #dbdbdb;
  position: relative;
}

header img {
  width: 5rem;
  height: 5rem;
  padding: 0.9rem;
}

header .logout {
  padding: 0.9rem;
  cursor: pointer;
}

header .logout:hover {
  color: rgb(233, 31, 31);
}

.wrapper_right_header {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper_right_header div:first-child {
  padding-right: 0.625rem;
}

.numero-tareas {
  margin-right: 1rem;
  display: visible;
  text-align: center;
  font-weight: bold;
  padding: 0.9375rem;
}

.title {
  padding-left: 0.9375rem;
  font-size: 25px;
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
}

.donate {
  padding: 10px;
  border: none;
  background-color: orangered;
  color: aliceblue;
  border-radius: 0.5rem;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.donate:hover {
  border: 1.2px solid orangered;
  background-color: transparent;
  color: orangered;
}
